<h1 align="center">Dbs</h1>
<% @dbs.each do |db| %>
  <h4><%= db.name %></h4>
  <%= link_to 'Show', db %>
  <%= link_to 'Edit', edit_db_path(db) %>
<% end %>
<br>
<br>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_db_path,
            :class => 'btn btn-primary' %>