
//*= require select2
//*= require select2-bootstrap
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  padding: 1em 0;
  text-align: center;
}

.collapse.in {
  display: block;
}

.remove {
  display: none;
}

.div-form {
  padding-left: 1em;
  padding-bottom: 1em;
}

.div-elem, 
.form-elem {
  padding: 1.5em 0;
}

.elem-name,
.elem-action {
  padding: 1rem;
}

.row-elem {
  &:nth-child(odd) {
    background: #FFF;
  }
  &:nth-child(even) {
    background:rgba(0, 0, 0, 0.05);;
  }
}

.elem-body {
  border: 0.4em solid	#d9534f;
}

.elem-container {
  margin: 0 auto;
}

.elem-btn {
  text-align: center;
}

.table-container {
  margin: 0 7.5%;
  overflow-x: auto;
}

.new {
  margin-bottom: 1rem;
}

//Navbar

nav {
  background-color: #428bca;
  border-radius: 0.2em;
}

.nav-link {
  color: white !important;
  &:hover {
    color: #343a40 !important;
  }
}

.navbar-brand {
  color: #343a40 !important;
  font-weight: bold !important;
  &:hover {
    color: white !important;
  }
}

//Index Page - Projects

.project-name {
  color: #343a40;
  font-weight: bold;
  font-size: 110%;
}

//Show Page - Resources

.img-show {
  width: 70%;
  height: auto;
  margin: 1em 0;
}

.show-container {
  border: 0.4em solid	#d9534f;
  border-radius: 0.75em;
  padding: 3em 0;
  margin: 3em;
}

//Index Page - Resources

.img-index {
  width: 30%;
  height: auto;
}

.resource-item a {
  color: #343a40;
  font-weight: bold;
  font-size: 110%;
}

//Form - Resources

.img-form {
  width: 50px;
  height: auto;
  margin-left: 1em;
  margin-bottom: 1em;
}

.input_checkbox {
  padding-right: 1em;
}

.control-label {
  font-weight: bold;
}

.elem-label {
  padding-left: 0;
}

.project-id-elem {
  padding-bottom: 1.5em;
}

.document-elem {
  color: #343a40;
  padding-right: 1em;
}

.img-elem {
  margin-right: 1em;
}

//Elem 

.check {
  color:	#d9534f;
  font-size: 150%;
}

.resources-list {
  font-size: 150%;
  color: #343a40;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 991.98px) { 
  .elem-container {
    font-size: 200%;
  }
}



