// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.collapse.in {
  display: block;
}

.remove {
  display: none;
}

.input_checkbox input {
  width: auto !important;
}

.img-show {
  width: 300px;
  height: auto;
  margin: 30px 0;
}

.img-index {
  width: 50px;
  height: auto;
}