
//*= require select2
//*= require select2-bootstrap
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

h1 {
  padding: 1em 0;
}

.collapse.in {
  display: block;
}

.remove {
  display: none;
}

.input_checkbox input {
  width: auto !important;
}

.img-show {
  width: 24em;
  height: auto;
  margin: 1em 0;
}

.img-index {
  width: 4em;
  height: auto;
}

.img-form {
  width: 50px;
  height: auto;
  margin-left: 1em;
  margin-bottom: 1em;
}

.div-form {
  padding-left: 1em;
  padding-bottom: 1em;
}

.div-elem, 
.form-elem {
  padding: 1.5em 0;
}

#search-form {
  display: none;
}

